<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>vue demo8 v-for</title>
	<script type="text/javascript" src="https://unpkg.com/vue"></script>
</head>
<body>
	<ul id="for-example">
		<li v-for="item in items">
			{{ item.message }}
		</li>
	</ul>

	<script type="text/javascript">
		new Vue({
			el: '#for-example',
			data: {
				items: [
					{ message: 'html' },
					{ message: 'css' },
					{ message: 'javascript'}
				]
			}
		})
	</script>

	<ul id="for-example2">
		<li v-for="value in object"> {{ value }} </li>
	</ul>

	<script type="text/javascript">
		new Vue({
			el: '#for-example2',
			data: {
				object: {
					firstName: 'suo',
					lastName: 'yue',
					age: 22
				}
			}
		})
	</script>

	<ul id="for-example3">
		<li v-for="n in evenNumbers"> {{ n }} </li>
	</ul>

	<script type="text/javascript">
		new Vue({
			el: '#for-example3',
			data: {
				numbers: [1, 2, 3, 4, 5]
			},
			computed: {
				evenNumbers: function() {
					return this.numbers.filter(function(number) {
						return number % 2 == 0
					})
				}
			}
		})
	</script>

	<div id="for-example4">
		<span v-for="n in 10">{{ n }}</span>
	</div>

	<script type="text/javascript">
		new Vue({
			el: "#for-example4"
		})
	</script>

	<ul id="for-example5">
		<template v-for="item in items">
			<li>{{ item.msg }}</li>
			<li class="devider">ooo</li>
		</template>
	</ul>

	<script type="text/javascript">
		new Vue({
			el: '#for-example5',
			data: {
				items: [
					{ msg: 'suo' },
					{ msg: 'smile' },
					{ msg: 'hello' }
				]
			}
		})
	</script>

	<ul id="for-example6">
		<li v-for="todo in todoList" v-if="!todo.isComplete">{{ todo.text }}</li>
	</ul>

	<script type="text/javascript">
		new Vue({
			el: '#for-example6',
			data: {
				todoList: [
					{ 
						isComplete: true,
						text: 'ps'
					},
					{
						isComplete: false,
						text: 'html'
					},
					{
						isComplete: false,
						text: 'css'
					}
				]
			}
		})
	</script>

	<div id="todo-list-example">
		<input type="text"
			v-model="newTodoText"
			v-on:keyup.enter="addNewTodo"
			placeholder="add a todo">
		<ul>
			<li is="todo-item"
				v-for="(todo, index) in todos"
				v-bind:key="todo.id"
				v-bind:title="todo.title"
				v-on:remove="todos.splice(index, 1)">		
			</li>
		</ul>
	</div>

	<script type="text/javascript">
		Vue.component('todo-item', {
			template: '\
			<li>\
			{{ title }}\
			<button v-on:click="$emit(\'remove\')"> x </button>\
			</li>\
			',
			props:['title']
		})
		new Vue({
			el: '#todo-list-example',
			data: {
				newTodoText: '',
				todos: [
					{
						id: 1,
						title: 'study vue'
					},
					{
						id: 2,
						title: 'study react'
					},
					{
						id: 3,
						title: 'study angular'
					}
				],
				nextTodoId: 4
			},
			methods: {
				addNewTodo: function() {
					this.todos.push({
						id: this.nextTodoId++,
						title: this.newTodoText
					});
					this.newTodoText = '';
				}
			}
		})
	</script>
</body>
</html>